.about {
    background:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../img/about.JPG);
    background-size: cover; 
    height: 90vh;
    color: #fff;
    h1{
        padding-top: 20px;
 
    }
    p {
        font-size: 16px;
        font-weight: 200;
    }
}