.contact {
    padding: 0 190px;
    background: url(../img/_DSC3764%20cz.JPG);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

    @media(max-width: 1000px) {
        padding: 0 100px;
    }

    @media(max-width: 700px) {
        padding: 0 50px;
    }

    @media(max-width: 500px) {
        padding: 0 15px;
    }



    h1 {
        padding-top: 100px;

        @media(min-width: 1500px) {
            padding-top: 200px
        }

    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            margin-bottom: 3px;
        }


    }

    &__inputs {
        display: flex;
        flex-direction: column;
        width: 45%;

        @media(max-width: 1000px) {
            width: 100%
        }



        input {
            height: 44px;
            width: 100%;
            border: solid black 2px;
            padding: 10px 20px;

            &:active {
                outline: none;
            }

            @media(max-width: 1000px) {
                width: 300px;

                @media(max-width: 650px) {
                    width: 200px;
                    height: 16px;

                }

                @media(max-width: 400px) {
                    width: 140px;
                    height: 16px;

                }
            }
        }

    }

    &__message {
        width: 45%;

        @media(max-width: 1000px) {
            width: 100%
        }

        textarea {
            height: 68%;
            width: 100%;
            border: solid black 2px;
            padding: 10px 20px;

            &:active {
                outline: none;
            }

            @media(max-width: 1000px) {
                width: 500px;
            }

            @media(max-width: 650px) {
                width: 300px;
            }

            @media(max-width: 400px) {
                width: 200px;
            }


        }
    }

    &__btn {
        margin-top: 60px;

        button {
            border: solid black 2px;
            padding: 5px 35px;
            cursor: pointer;
            background: transparent;

            &:hover {
                background: black;
                color: white;
            }

        }
    }

}

.contactForm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        border: solid black 2px;
        padding: 5px 35px;
        cursor: pointer;
        background: transparent;
        margin-top: 50px;
        font-size: 18px;

        &:hover {
            background: black;
            color: white;
        }

    }

}

.grecaptcha-badge {
    display: none;
}