* {
    font-family: 'Oswald';
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    position: relative;

}

h1 {
    font-weight: 300;
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: inherit;

}

section {
    padding: 0 190px;
    position: relative;

}
