.home {
        background: black;
      height: 86vh;
    overflow: hidden;

    &__caption {
        position: absolute;
        bottom: 185px;
        right: 190px;


    }

    h1 {
        display: block;
        background: #fff;
        margin: 0;
        padding: 10px;
        width: 200px;
        text-align: center;
        font-weight: 400;
        font-size: 24px;

    }

    p {
        display: block;
        background: #262626;
        color: #fff;
        margin: 0;
        width: 120px;
        float: right;
        text-align: center;
        padding: 5px;
        font-weight: 300;
        font-size: 14px;
    }
}

.background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://placehold.it/1440x750&text=1);
}
.slide {
    height: 100vh;
    @extend .background-cover;
    &--1{
        background-image: url(../img/portfolio/gallery01.jpg);
    }
    &--2{
        background-image: url(../img/portfolio/gallery02.jpg);
    }
    &--3{
        background-image: url(../img/portfolio/gallery03.jpg);
    }
}



