.lb-data .lb-details {
    display: none;
    
}
.lb-data .lb-close {
    position: absolute;
    float: none;
    top: -30px;
    right: -30px;
}

.lb-outerContainer{
    background-color: transparent!important;
}

.lightbox .lb-image {
    border: 4px solid transparent !important;
}