.portfolio {
    padding: 0;
    height: 100vh;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        
        @media(max-width: 640px) {
                padding-top: 45px;

        }



    }

    &__item {
        width: 25%;
        height: 310px;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        @media(max-width: 1150px) {
            height: 290px;

        }

        @media(max-width: 1000px) {
            height: 250px;

        }

        @media(max-width: 900px) {
            width: 50%;
            height: 310px;

        }

        @media(max-width: 670px) {
            height: 261px;

        }

        @media(max-width: 570px) {
            height: 227px;

        }

        @media(max-width: 540px) {
            height: 200px;

        }

        @media(max-width: 370px) {
            width: 100%;
            height: 344px;

        }

        &:hover .portfolio__overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &:hover .portfolio__img {
            transform: scale(1.1);
            transition: .4s;
        }

        img {
            width: 100%;
            height: 100%;
            transition: .4s;

        }

    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        display: none;
        color: #fff;
        text-shadow: 2px 2px 4px #000;

        h1 {
            font-family: 'Oswald';
            font-weight: 200;
        }

    }
}
